#video-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background: #282c34;
  align-items: center;
  justify-content: center;
}

#videos {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 80%;
  height: 60%;
}

.single-video{
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#controls {
margin-top: 50px;

}

#controls button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  border-radius: 50%;
}

h3 {
  color: white;
}

video {
  height: 100%;
  width: 100%;
}